<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- FONT -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <!-- ICONS -->
    <script src="https://kit.fontawesome.com/2e4bd0a474.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./css/style.css">
    <title>Boolzapp Web</title>
    <!-- APPROCCIO MOBILE FIRST -->
</head>
<body>
    <!-- MAIN BOX -->
    <div id="app" class="main-container">
        <div class="sidebar">
            <header>
                <div class="left row py-10p10p space-between">
                    <div class="d-flex">
                        <img src="./img/avatar_io.jpg" alt="PFP">
                    </div>
                    

                    <div class="action-icons">
                        <div class="row align-center justify-centers gap-15p">
                            <i class="fa-solid fa-circle-notch fa-xl"></i>
                            <i class="fa-solid fa-message fa-xl"></i>
                            <i class="fa-solid fa-ellipsis-vertical fa-xl"></i>

                        </div>
                    </div>
                </div>
            </header>
            <div class="notifications">
                <div class="d-flex py-10p10p">
                    <div class="circle d-flex align-center justify-center">
                        <i class="fa-solid notification-color  fa-bell-slash fa-xl"></i>
                    </div>
                    
                    <div class="contact">
                        <div class="notifications-text">
                            Ricevi notifiche di nuovi messaggi
                        </div>
                        <div class="desktop-message">
                            Attiva notifiche desktop
                        </div>
                    </div>
                </div>
            </div>
            <div class="search">
                <div class="search-box bg-white d-flex align-center">
                    <div class="row align-center">
                        <i class="fa-solid fa-magnifying-glass fa-l"></i>
                        <input v-model="searchedContact" class="reset" type="text" placeholder="Cerca o inizia una nuova chat">
                    </div>
                </div>
            </div>
            <ul class="chats">
                <li 
                    v-for="(contact,i) in filteredContact()"
                    v-show="contact.visible"
                    @click="changeSelectedContact(i)"
                >
                    <div class="d-flex">
                        <img :src="contact.avatar" alt="PFP">
                        <div class="contact">
                            <div class="contact-name">
                                {{contact.name}}
                            </div>
                            <div 
                                class="last-message"
                                v-if="contact.messages.length"
                            >
                                {{contact.messages[contact.messages.length - 1].message}}
                            </div>
                        </div>
                    </div>
                    <div
                        class="message-time"
                        v-if="contact.messages.length"
                    >
                    {{printDate(contact.messages[contact.messages.length - 1].date)}}</div>
                </li>
            </ul>
        </div>
        <div class="content d-flex column-direction">
            <header>
                <div class="row py-10p10p space-between">
                    <div class="d-flex">
                        <img :src="contacts[selectedContact].avatar" alt="PFP">
                        <div class="contact d-flex column-direction justify-center gap-5p">
                            <div class="contact-name">
                                {{contacts[selectedContact].name}}
                            </div>
                            <div 
                                v-if="contacts[selectedContact].messages.length"
                                class="contact-info">
                                {{contactInfo(contacts[selectedContact].messages)}} 
                            </div>
                        </div>
                    </div>
                    
                    <div class="action-icons d-flex">
                        <div class="row align-center justify-centers gap-15p">
                            <i 
                                @click="openContacts()"
                                class="fa-solid fa-arrow-left fa-xl"></i>
                            <i class="fa-solid fa-magnifying-glass fa-xl"></i>
                            <i class="fa-solid fa-paperclip fa-xl"></i>
                            <i class="fa-solid fa-ellipsis-vertical fa-xl"></i>

                        </div>
                    </div>
                </div>
            </header>

            <div id="chat-box" class="chat-box d-flex column-direction gap-15p">
                <div 
                    class="message"
                    v-for="(message,i) in contacts[selectedContact].messages"
                    :class="{sender: message.status=='sent', receiver: message.status=='received'}" >
                

                    <p>
                        {{message.message}}
                    </p>
                    <i @click="toggleDropDownMenu(i)" class="fa-solid fa-angle-down toggle-menu"></i>
                    <div class="drop-down-menu" :class="{visible: clickedMessage==i}" >
                        <div 
                            @click="deleteMessage(i)" >Cancella messaggio</div>
                        <div>Informazioni messaggio</div>
                    </div>
                    <div class="message-time">{{printDate(message.date)}}</div>

                </div>
            </div>
            <div class="input-box d-flex">
                <button class="emojis-btn reset">
                    <i class="fa-regular fa-face-smile fa-xl"></i>
                </button>
                <div class="text-box bg-white d-flex align-center">
                    <input @keydown.enter="sendMessage" v-model="currentTextMessage" class="reset" type="text" placeholder="Scrivi un messaggio">
                </div>
                <button class="audio-btn reset">
                    <i class="fa-solid fa-microphone fa-xl"></i>
                </button>
            </div>
    
        </div>
    </div>


    <!-- vue js -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- luxon library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/luxon/3.4.4/luxon.min.js" integrity="sha512-dUlSLLkxslGILhPdCkALwk4szPhp3xmZIKFtlUD+O9Lslq41Aksmdt5OGqpomDoT4FsCUH70jQU8ezZHI3v1RQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- my js -->
    <script src="./js/main.js"></script>
</body>
</html>