body{
    display:flex;
    height:100vh;
    width:100vw;
    background: linear-gradient(
        to bottom,
        rgb(57, 136, 112) 0%,
        rgb(57, 136, 112) 20%,
        rgb(200, 200, 200) 20%,
        rgb(200, 200, 200) 100%
      );
    font-family: Lato;
    user-select: none;
}

header{
    background-color: var(--primary-color);
    height:var(--header-height);
}

.sidebar img, header img{
    border-radius: 50%;
    max-height: 55px;
}

.main-container{
    display: flex;
    height:100%;
    width:100%;
}

.sidebar{
    background-color: white;
    /* display: none; */
    visibility: hidden;
    position: fixed;
    height:100%;
    overflow-y: hidden;
    border-right:1px solid var(--secondary-color);
    width:100%;
    z-index: 999;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out, visibility 0s 0.3s, opacity 0.3s ease-in-out;
}

.sidebar.visible{
    transform:translateX(0);
    visibility: visible;
    transition: transform 0.3s ease-in-out, visibility 0s, opacity 0.3s ease-in-out;
}

.notifications{
    display:none;
}

.search{
    display: block;
    padding:10px;
    background-color: var(--primary-color);
    /* height:45px; */
}

.search .fa-magnifying-glass{
    color: var(--secondary-color);
    margin: 0px 25px 0px 15px;
}

.search-box{
    height:100%;
    border-radius: 2px;
    padding:10px 15px;
}

.chat-box{
    background-color: beige;
    flex-grow: 1;
    padding: 25px 20px;
    overflow: auto;
    user-select: text;
}

.input-box{
    height: var(--header-height);
    background-color: var(--primary-color);
    padding: 12px 25px;
    width:100%;
}

.input-box button{
    display:none;
}

.text-box{
    width: 100%;
    height:100%;
    border-radius: 3px;
    padding:10px 20px;
}

.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    margin-left:18px;
    padding-right: 40px;
}


.last-message{
    color:var(--secondary-color);
    font-size: 0.9em;
}

.contact-name{
    font-size: 1.11em;
    color:black
}

.notifications-text{
    font-size: 1.05em;
    color:black
}

.contact-info{
    font-size: 0.85em;
    color:var(--secondary-color);
}

.message{
    display: flex;
    padding:10px 10px 25px 10px;
    width:70%;
    max-width:380px;
    position: relative;
    word-wrap: break-word;
}

.message p{
    overflow-wrap: break-word;
    max-width: 100%;
}

.message-time{
    font-size: 0.8em;
    color: var(--secondary-color);
    position: absolute;
    right:10px;
    bottom:5px;
}

.chats .message-time{
    margin:5px;
    display: none;
}

.chats{
    height: calc(100% - 132px);
    overflow: auto;
}

.chats .message-time{
    display: block;
}

.chats li{
    /* max-height: 95px; */
    display: flex;
    padding:10px;
    border-top:1px solid rgb(199, 199, 199);
    position: relative;
}

.chats li:active{
    /* max-height: 95px; */
    background-color: beige;
}

.fa-angle-down{
    position:absolute;
    top:2px;
    right:5px;
    color: var(--secondary-color);
    cursor: pointer;
    display: none;
}

.message:hover > .fa-angle-down{
    display: block;
}

.drop-down-menu{
    position:absolute;
    top:20px;
    right:6px;
    background-color: white;
    display: none;
    cursor: default;
    user-select: none;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    z-index: 9999;
}

.visible{
    display: block;
}

.drop-down-menu *{
    padding: 15px;
}

.drop-down-menu *:hover{
    background-color: rgb(234, 234, 234);
    padding: 15px;
}

.sender{
    background-color: rgb(187, 246, 180);
    margin-left: auto;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.receiver{
    background-color: rgb(255, 255, 255);
    margin-right: auto;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.chat-input{
    width: 100%;
    
}

.left .action-icons{
    display: flex;
}

.fa-xl{
    color: var(--secondary-color);
    cursor: pointer;
}

/* LAYOUT */

.row{
    display:flex;
}

.content{
    background-color: pink;
    height:100%;
    flex-grow: 1;
}

/* UTILITY */

.max-width-450p{
    max-width: 450px;
}

.py-10p{
    padding:10px;
}

.py-10p10p{
    padding:10px 10px;
}

.d-flex{
    display: flex;
}

.column-direction{
    flex-direction: column;
}

.align-center{
    align-items: center;
}

.gap-5p{
    gap:5px;
}

.gap-15p{
    gap:15px;
}

.justify-center{
    justify-content: center;
}

.space-between{
    justify-content: space-between;
}

.bg-white{
    background-color: white;
}

.secondary-color{
    color: var(--secondary-color);
}


/* RESPONSIVENESS */

@media screen and (min-width:576px) {

    .sidebar{
        background-color: white;
        position:static;
        display: block;
        visibility: visible;
        width: 75px;
        height:100%;
        overflow-y: hidden;
        border-right:1px solid var(--secondary-color);
        transform: none;
        transition: none;
    }

    .left .action-icons{
        display: none;
    }
    
    .action-icons{
        display: flex;
    }

    .chats{
        height: calc(100% - 75px);
        overflow-y: auto;
    }
    
    

    .chat-box{
        padding: 35px 30px;
    }

    ul{
        list-style: none;
    }
    
    .search{
        display: none;
    }

    .input-box{
        padding:10px 0px;
    }
    
    .input-box button{
        display:block;
        padding: 12px 30px;
    }

    .chats .message-time{
        display: none;
    }

    .sidebar .contact{
        display: none;
    }

    .fa-arrow-left{
        display: none;
    }
    
}

@media screen and (min-width:992px) {

    .main-container{
        height:95%;
        width:80%;
        margin:auto;
    }

    .sidebar{
        width:30%;
        min-width: 400px;
        
    }

    
    .sidebar .contact{
        display: block;
    }

    .notifications{
        display:block;
        background-color: var(--notification-color);
        height:var(--header-height);
    }

    .left .action-icons{
        display: flex;
    }

    .circle{
        border-radius: 50%;
        height: 55px;
        width: 55px;
        background-color: white;
    }
    
    .search{
        display: block;
        padding:10px;
        background-color: var(--primary-color);
        /* height:45px; */
    }

    .chats{
        height: calc(100% - 210px);
    }

    .chats .message-time{
        display: block;
    }

    .chat-box{
        padding: 35px 60px;
    }

    .desktop-message{
        color:var(--secondary-color);
        text-decoration: underline;
    }

    .notification-color{
        text-align: center;
        color: var(--notification-color);
    }

}

